USE [Autobuses]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ruta]') AND type in (N'U'))
ALTER TABLE [dbo].[Ruta] DROP CONSTRAINT IF EXISTS [FK_Ruta_Origen]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ruta]') AND type in (N'U'))
ALTER TABLE [dbo].[Ruta] DROP CONSTRAINT IF EXISTS [FK_Ruta_Destino]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Camion]') AND type in (N'U'))
ALTER TABLE [dbo].[Camion] DROP CONSTRAINT IF EXISTS [FK_Camion_Chofer]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Camion]') AND type in (N'U'))
ALTER TABLE [dbo].[Camion] DROP CONSTRAINT IF EXISTS [FK_Camion_Asiento]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Ruta]
GO
/****** Object:  Table [dbo].[RegistroDeVenta]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[RegistroDeVenta]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Pasajero]
GO
/****** Object:  Table [dbo].[Origen]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Origen]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Destino]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Descuento]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Chofer]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Chofer]
GO
/****** Object:  Table [dbo].[camion1]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[camion1]
GO
/****** Object:  Table [dbo].[Camion]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Camion]
GO
/****** Object:  Table [dbo].[Asiento]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Asiento]
GO
USE [master]
GO
/****** Object:  Database [Autobuses]    Script Date: 29/05/2020 04:58:23 p. m. ******/
DROP DATABASE IF EXISTS [Autobuses]
GO
/****** Object:  Database [Autobuses]    Script Date: 29/05/2020 04:58:23 p. m. ******/
CREATE DATABASE [Autobuses]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Autobuses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Autobuses.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Autobuses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Autobuses_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Autobuses].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Autobuses]
GO
/****** Object:  Table [dbo].[Asiento]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento](
	[id_Asiento] [int] NOT NULL,
	[letra] [char](1) NOT NULL,
	[fila] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camion]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camion](
	[id_Camion] [int] NOT NULL,
	[id_Chofer] [int] NOT NULL,
	[id_Asiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Camion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[camion1]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[camion1](
	[id_Camion] [int] NOT NULL,
	[id_Chofer] [int] NOT NULL,
	[id_Asiento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chofer]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chofer](
	[id_Chofer] [int] NOT NULL,
	[cNombre] [varchar](20) NOT NULL,
	[cEdad] [int] NOT NULL,
	[cTelefono] [bigint] NOT NULL,
	[cLicencia] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Chofer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_Cliente] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](16) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Correo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[id_Descuento] [int] NOT NULL,
	[descripcion] [varchar](10) NOT NULL,
	[porcentaje] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[id_Destino] [int] NOT NULL,
	[CiduadDestino] [varchar](25) NOT NULL,
	[EstadoDestino] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origen]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origen](
	[id_Origen] [int] NOT NULL,
	[CiduadOrigen] [varchar](25) NOT NULL,
	[EstadoOrigen] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Origen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[id_Pasajero] [int] NOT NULL,
	[pNombre] [varchar](30) NOT NULL,
	[pCorreo] [varchar](30) NOT NULL,
	[pTelefono] [bigint] NOT NULL,
	[pNacionalidad] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroDeVenta]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroDeVenta](
	[id_Venta] [int] NOT NULL,
	[Precio_Venta] [int] NOT NULL,
	[Fecha_Venta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 29/05/2020 04:58:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[id_Ruta] [int] NOT NULL,
	[id_Origen] [int] NOT NULL,
	[id_Destino] [int] NOT NULL,
	[Distancia_KM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (1, N'A', 1)
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (2, N'B', 1)
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (3, N'C', 1)
INSERT [dbo].[Chofer] ([id_Chofer], [cNombre], [cEdad], [cTelefono], [cLicencia]) VALUES (2, N'Juan', 36, 33261381, N'Si')
INSERT [dbo].[Chofer] ([id_Chofer], [cNombre], [cEdad], [cTelefono], [cLicencia]) VALUES (3, N'Juan', 36, 33261382, N'Si')
INSERT [dbo].[Chofer] ([id_Chofer], [cNombre], [cEdad], [cTelefono], [cLicencia]) VALUES (4, N'Juan', 36, 33261383, N'Si')
INSERT [dbo].[Cliente] ([id_Cliente], [Usuario], [Contraseña], [Nombre], [Correo]) VALUES (1, N'Pedro', N'123', N'Pedro', N'1@hotmail.com')
INSERT [dbo].[Cliente] ([id_Cliente], [Usuario], [Contraseña], [Nombre], [Correo]) VALUES (2, N'Pedro', N'123', N'Pedro', N'2@hotmail.com')
INSERT [dbo].[Cliente] ([id_Cliente], [Usuario], [Contraseña], [Nombre], [Correo]) VALUES (3, N'Pedro', N'123', N'Pedro', N'3@hotmail.com')
INSERT [dbo].[Descuento] ([id_Descuento], [descripcion], [porcentaje]) VALUES (1, N'Si', 30)
INSERT [dbo].[Descuento] ([id_Descuento], [descripcion], [porcentaje]) VALUES (2, N'Si', 70)
INSERT [dbo].[Descuento] ([id_Descuento], [descripcion], [porcentaje]) VALUES (3, N'Si', 10)
INSERT [dbo].[Destino] ([id_Destino], [CiduadDestino], [EstadoDestino]) VALUES (1, N'Mazatlan', N'Sinaloa')
INSERT [dbo].[Destino] ([id_Destino], [CiduadDestino], [EstadoDestino]) VALUES (2, N'Guadalupe', N'Nuevo Leon')
INSERT [dbo].[Destino] ([id_Destino], [CiduadDestino], [EstadoDestino]) VALUES (3, N'Jalisco', N'Guadalajara')
INSERT [dbo].[Origen] ([id_Origen], [CiduadOrigen], [EstadoOrigen]) VALUES (2, N'Guadalupe', N'Nuevo Leon')
INSERT [dbo].[Origen] ([id_Origen], [CiduadOrigen], [EstadoOrigen]) VALUES (3, N'Jalisco', N'Guadalajara')
INSERT [dbo].[Origen] ([id_Origen], [CiduadOrigen], [EstadoOrigen]) VALUES (4, N'Ciudad victoria', N'Tamaulipas')
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pCorreo], [pTelefono], [pNacionalidad]) VALUES (1, N'Raul', N'xkcjhfgcb@hotmail.com', 8186694, N'Mexicano')
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pCorreo], [pTelefono], [pNacionalidad]) VALUES (4, N'Pedro', N'xkcjh5fgcb@hotmail.com', 8186694, N'Mexicano')
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pCorreo], [pTelefono], [pNacionalidad]) VALUES (5, N'Enrique', N'xk4cjhfgcb@hotmail.com', 8186694, N'Peruano')
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Asiento] FOREIGN KEY([id_Asiento])
REFERENCES [dbo].[Asiento] ([id_Asiento])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Asiento]
GO
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Chofer] FOREIGN KEY([id_Chofer])
REFERENCES [dbo].[Chofer] ([id_Chofer])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Chofer]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Destino] FOREIGN KEY([id_Destino])
REFERENCES [dbo].[Destino] ([id_Destino])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_Destino]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Origen] FOREIGN KEY([id_Origen])
REFERENCES [dbo].[Origen] ([id_Origen])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_Origen]
GO
USE [master]
GO

use Autobuses

select * from  Camion
left join Asiento on Camion.id_Asiento = Asiento.id_Asiento


select * from  Camion
left join Chofer on Camion.id_Chofer = Chofer.id_Chofer

select * from  Camion
right join Asiento on Camion.id_Asiento = Asiento.id_Asiento


select * from  Camion
right join Chofer on Camion.id_Chofer = Chofer.id_Chofer


select * from  Camion
inner join Asiento on Camion.id_Asiento = Asiento.id_Asiento


select * from  Camion
inner join Chofer on Camion.id_Chofer = Chofer.id_Chofer


select * from  Camion
cross join Asiento


select * from  Camion
cross join Chofer 


select * from  Camion where id_Camion = (select count(id_Camion) from Camion)


select * into camion1
from  Camion